<h1 class="h4 titulo mb-2">Pesquisa de Produtos</h1>

<button class="btn btn-primary mb-2" (click)="adicionarProduto()">Adicionar Produto</button>
<div class="d-flex justify-content-center" *ngIf="!produtos">
  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
  Carregando Produtos...
</div>

<table class="table table-hover" *ngIf="produtos">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Preço</th>
      <th>Imagem</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of produtos">
      <td>{{p.nome}}</td>
      <td style="width:50%">{{p.descricao}}</td>
      <td style="width:10%">R${{p.preco}}</td>
      <td style="width:20%"><img src="../../../../../arquivos/{{p.nomeArquivo}}" style="width:40px; height:40px" /></td>
      <td><button class="btn btn-success btn-sm" (click)="editarProduto(p)">Editar</button></td>
      <!-- <td><button class="btn btn-danger btn-sm" (click)="deletarProduto(p)">Deletar</button></td>  -- MODAL COM ng2-opd-popup -->
      <td><button class="btn btn-danger btn-sm" (click)="setadeletarProduto(p)" data-toggle="modal" data-target="#exampleModalCenter">Deletar</button></td>
    </tr>
  </tbody>
</table>

<!-- Modal -->
<div *ngIf="produtoDeletar">
  <div class="modal animated bounceIn" id="exampleModalCenter" tabindex="-1" role="dialog"
       aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Confirmação de Exclusão</h5>
          <button type="button" class="close" data-dismiss="modal" #fechaModalPeloEventoDeOutroBotao aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body d-block mb-3">
          <strong>Deseja realmente deletar esse produto?</strong>
          <br>
          <br>
          <img src="../../../../../arquivos/{{produtoDeletar.nomeArquivo}}" style="width:100px; height:100px" />
          Nome: {{produtoDeletar.nome}}
        </div>
        <div class="modal-footer">
          <div class="spinner-border text-primary" role="status" *ngIf="esperaDeletar">
            <span class="sr-only">Deletando Arquivos...</span>
          </div>
          <!-- o evendo te fechar o modal esta sendo chamado no ts, ao qual referencia o botao (fechaModalPeloEventoDeOutroBotao) de fechar no modal-->
          <button class="btn btn-outline-danger btn-sm mb-3" style="margin-right:10px" (click)="DeletarConfirmado()">Deletar</button>
          <button class="btn btn-outline-success btn-sm mb-3" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>

</div>

<!--MODAL PRIMEIRA VERSAO--- PARA UTILIZADO DEVE DESCONMENTAR ABAIXO E NO TS
    <div *ngIf="produtoDeletar">
  <popup>
    <div class="d-block mb-3">
      <strong>Deseja realmente deletar esse produto?</strong>
      <u> Produto: {{produtoDeletar.nome}}</u>
    </div>
    <div class="d-block  float-sm-right">
      <div class="d-inline"><button class="btn btn-outline-danger btn-sm mb-3" style="margin-right:10px" (click)="DeletarConfirmado()">Deletar</button></div>
      <div class="d-inline"> <button class="btn btn-outline-success btn-sm mb-3" (click)="DeletarCancelado()">Cancelar</button></div>
    </div>
  </popup>
</div>-->

