

<!--<div class="d-flex justify-content-center" *ngIf="!usuarioDados">
  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
  Carregando meus dados...
</div>-->

<!--<div *ngIf="usuarioDados">-->
  <h1 class="h4 mb-6 login text-center">Meus Dados</h1>
  <div class="d-flex justify-content-center align-items-center container ">

    <form style="width:65%">


      <div class="form row">
        <div class="form-group col-md-6">
          <label for="inputNome" class="col-form-label">Nome Completo</label>
          <input type="text" id="inputNome"
                 name="Nome" placeholder="Nome"
                 class="form-control mb-2"
                 [(ngModel)]="usuarioDados.nomeCompleto"
                 #nomex="ngModel"
                 [ngClass]="{
          'is-invalid':nomex.invalid && (nomex.dirty || nomex.touched),
          'is-valid':nomex.valid && (nomex.dirty || nomex.touched)
          }"
                 minlength="4"
                 required />
          <div class="invalid-feedback mb-2" *ngIf="nomex.invalid && (nomex.dirty || nomex.touched)">
            <div *ngIf="nomex.errors.required">
              <!-- se o erro for de requided inclui a div no html-->
              *Campo obrigatório!
            </div>
          </div>

        </div>

        <div class="form-group col-md-3">
          <label for="inputRg" class="col-form-label">RG</label>
          <input type="text" id="inputRg"
                 name="Rg" placeholder="12345678-9"
                 class="form-control mb-2"
                 [(ngModel)]="usuarioDados.rg"
                 #rgx="ngModel"
                 [ngClass]="{
          'is-invalid':rgx.invalid && (rgx.dirty || rgx.touched),
          'is-valid':rgx.valid && (rgx.dirty || rgx.touched)
          }"
                 minlength="4"
                 required />
          <div class="invalid-feedback mb-2" *ngIf="rgx.invalid && (rgx.dirty || rgx.touched)">
            <div *ngIf="rgx.errors.required">
              <!-- se o erro for de requided inclui a div no html-->
              *Campo obrigatório!
            </div>
          </div>
        </div>

        <div class="form-group col-md-3">
          <label for="inputCpf" class="col-form-label">CPF</label>
          <input type="text" id="inputCpf"
                 name="Cpf" placeholder="123.456.789-00"
                 class="form-control mb-2"
                 mask="000.000.000-00"
                 [(ngModel)]="usuarioDados.cpf"
                 #cpfx="ngModel"
                 [ngClass]="{
           'is-invalid':cpfx.invalid && (cpfx.dirty || cpfx.touched),
           'is-valid':cpfx.valid && (cpfx.dirty || cpfx.touched)
           }"
                 minlength="4"
                 required />
          <div class="invalid-feedback mb-2" *ngIf="cpfx.invalid && (cpfx.dirty || cpfx.touched)">
            <div *ngIf="cpfx.errors.required">
              <!-- se o erro for de requided inclui a div no html-->
              *Campo obrigatório!
            </div>
          </div>

        </div>

      </div>

      <div class="form row">
        <div class="form-group col-md-4">
          <label for="inputDataNascimento" class="col-form-label">Data Nascimento</label>
          <input type="date" id="inputDataNascimento"
                 name="DataNascimento" placeholder="01/01/1900"
                 class="form-control mb-2"
                 [(ngModel)]="usuarioDados.dataNascimento"
                 #dtNascx="ngModel"
                 [ngClass]="{
          'is-invalid':dtNascx.invalid && (dtNascx.dirty || dtNascx.touched),
          'is-valid':dtNascx.valid && (dtNascx.dirty || dtNascx.touched)
          }"
                 minlength="10"
                 required />
          <div class="invalid-feedback mb-2" *ngIf="dtNascx.invalid && (dtNascx.dirty || dtNascx.touched)">
            <div *ngIf="dtNascx.errors.required">
              <!-- se o erro for de requided inclui a div no html-->
              *Campo obrigatório!
            </div>
          </div>
        </div>

        <div class="form-group col-md-4">
          <label for="inputTelefoneFixo" class="col-form-label">Telefone Fixo</label>
          <input type="text" id="inputTelefoneFixo"
                 name="TelefoneFixo" placeholder="Telefone Fixo"
                 class="form-control mb-2"
                 mask="(00) 0000 0000"
                 [(ngModel)]="usuarioDados.telefoneFixo"
                 #tfix="ngModel"
                 [ngClass]="{
          'is-invalid':tfix.invalid && (tfix.dirty || tfix.touched),
          'is-valid':tfix.valid && (tfix.dirty || tfix.touched)
          }"
                 minlength="4" />
        </div>

        <div class="form-group col-md-4">
          <label for="inputTelefoneMovel" class="col-form-label">Telefone Móvel</label>
          <input type="text" id="inputTelefoneMovel"
                 name="TelefoneMovel" placeholder="Telefone Móvel"
                 class="form-control mb-2"
                 mask="(00) 00000 0000"
                 [(ngModel)]="usuarioDados.telefoneMovel"
                 #tmovel="ngModel"
                 [ngClass]="{
          'is-invalid':tmovel.invalid && (tmovel.dirty || tmovel.touched),
          'is-valid':tmovel.valid && (tmovel.dirty || tmovel.touched)
          }"
                 minlength="4" />
        </div>
      </div>


      <div class="form row">

        <div class="form-group col-md-12">
          <label for="inputEmail" class="col-form-label">Email</label>
          <input type="text" id="inputEmail"
                 name="Email" placeholder="Email"
                 class="form-control mb-2"
                 [(ngModel)]="usuario.email"
                 #emailx="ngModel"
                 [ngClass]="{
          'is-invalid':emailx.invalid && (tmovel.dirty || emailx.touched),
          'is-valid':emailx.valid && (tmovel.dirty || emailx.touched)
          }"
                 readonly />
        </div>
      </div>


      <div class="form row">
        <div class="form-group col-md-4">
          <label for="inputCep" class="col-form-label">Cep</label>
          <input type="text" id="inputCep"
                 name="Cep" placeholder="12345-123"
                 mask="00000-000"
                 class="form-control mb-2"
                 [(ngModel)]="usuarioDados.cep"
                 #cepx="ngModel"
                 [ngClass]="{
          'is-invalid':cepx.invalid && (cepx.dirty || cepx.touched),
          'is-valid':cepx.valid && (cepx.dirty || cepx.touched)
          }"
                 minlength="4"
                 required />
          <div class="invalid-feedback mb-2" *ngIf="cepx.invalid && (cepx.dirty || cepx.touched)">
            <div *ngIf="cepx.errors.required">
              <!-- se o erro for de requided inclui a div no html-->
              *Campo obrigatório!
            </div>
          </div>
        </div>

        <div class="form-group col-md-4">
          <label for="inputEstado" class="col-form-label">Estado</label>
          <input type="text" id="inputEstado"
                 name="Estado" placeholder="XX"
                 class="form-control mb-2"
                 [(ngModel)]="usuarioDados.estado"
                 #estadox="ngModel"
                 [ngClass]="{
          'is-invalid':estadox.invalid && (estadox.dirty || estadox.touched),
          'is-valid':estadox.valid && (estadox.dirty || estadox.touched)
          }"
                 minlength="0"
                 maxlength="2"
                 required />
          <div class="invalid-feedback mb-2" *ngIf="estadox.invalid && (estadox.dirty || estadox.touched)">
            <div *ngIf="estadox.errors.required">
              <!-- se o erro for de requided inclui a div no html-->
              *Campo obrigatório!
            </div>
          </div>
        </div>

        <div class="form-group col-md-4">
          <label for="inputCidade" class="col-form-label">Cidade</label>
          <input type="text" id="inputCidade"
                 name="Cidade" placeholder="Cidade"
                 class="form-control mb-2"
                 [(ngModel)]="usuarioDados.cidade"
                 #cidx="ngModel"
                 [ngClass]="{
          'is-invalid':cidx.invalid && (cidx.dirty || cidx.touched),
          'is-valid':cidx.valid && (cidx.dirty || cidx.touched)
          }"
                 minlength="4"
                 required />
          <div class="invalid-feedback mb-2" *ngIf="cidx.invalid && (cidx.dirty || cidx.touched)">
            <div *ngIf="cidx.errors.required">
              <!-- se o erro for de requided inclui a div no html-->
              *Campo obrigatório!
            </div>
          </div>
        </div>
      </div>

      <div class="form row">
        <div class="form-group col-md-6">
          <label for="inputEndereco" class="col-form-label">Endereço Residencial</label>
          <input type="text" id="inputEndereco"
                 name="Endereco" placeholder="Endereço"
                 class="form-control mb-2"
                 [(ngModel)]="usuarioDados.enderecoResidencial"
                 #endx="ngModel"
                 [ngClass]="{
          'is-invalid':endx.invalid && (endx.dirty || endx.touched),
          'is-valid':endx.valid && (endx.dirty || endx.touched)
          }"
                 minlength="4"
                 required />
          <div class="invalid-feedback mb-2" *ngIf="endx.invalid && (endx.dirty || endx.touched)">
            <div *ngIf="endx.errors.required">
              <!-- se o erro for de requided inclui a div no html-->
              *Campo obrigatório!
            </div>
          </div>

        </div>

        <div class="form-group col-md-3">
          <label for="inputNumero" class="col-form-label">Número</label>
          <input type="text" id="inputNumero"
                 name="Número" placeholder="Número Residencia"
                 class="form-control mb-2"
                 [(ngModel)]="usuarioDados.numeroResidencial"
                 #nresidx="ngModel"
                 [ngClass]="{
          'is-invalid':nresidx.invalid && (nresidx.dirty || nresidx.touched),
          'is-valid':nresidx.valid && (nresidx.dirty || nresidx.touched)
          }"
                 minlength="1"
                 required />
          <div class="invalid-feedback mb-2" *ngIf="nresidx.invalid && (nresidx.dirty || nresidx.touched)">
            <div *ngIf="nresidx.errors.required">
              <!-- se o erro for de requided inclui a div no html-->
              *Campo obrigatório!
            </div>
          </div>
        </div>

        <div class="form-group col-md-3">
          <label for="inputComplemento" class="col-form-label">Complemento</label>
          <input type="text" id="inputComplemento"
                 name="Complemento" placeholder="Casa A"
                 class="form-control mb-2"
                 [(ngModel)]="usuarioDados.complementoResidencial"
                 #complx="ngModel"
                 [ngClass]="{
          'is-invalid':complx.invalid && (complx.dirty || complx.touched),
          'is-valid':complx.valid && (complx.dirty || complx.touched)
          }" />
        </div>
      </div>






      <div class="form-inline d-flex flex-row-reverse">
        <button class="btn btn-primary mb-2" style="margin-left:4px" (click)="atualizar()" [disabled]="ativarSpinner">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="ativarSpinner"></span>
          Atualizar
        </button>
        <button class="btn btn-secondary mb-2" style="margin-right:4px" (click)="voltar()">Voltar</button>
      </div>

      <div class="alert alert-danger mb-2" role="alert" *ngIf="mensagem">
        {{mensagem}}
      </div>
      <div class="alert alert-success mb-2" *ngIf="dadosAtualizados">
        Meus dados foram atualizados com sucesso! <a class="alert-link" [routerLink]='["/"]'>Clique aqui</a> para voltar para a tela inicial.
      </div>

    </form>
    
   
  </div>
<!--</div>-->
