<h4 class="h4 titulo">Cadastro de Produto</h4>

<label for="inputNome" class="sr-only">Nome</label>
<input type="text" id="inputNome"
       name="nomeProduto" placeholder="Nome do produto"
       class="form-control mb-2 col-md-6"
       [(ngModel)]="produto.nome"
       #nomex="ngModel"
       [ngClass]="{
           'is-invalid':nomex.invalid && (nomex.dirty || nomex.touched),
           'is-valid':nomex.valid && (nomex.dirty || nomex.touched)
           }"
       minlength="10"
       required />
<div class="invalid-feedback mb-2" *ngIf="nomex.invalid && (nomex.dirty || nomex.touched)">
  <div *ngIf="nomex.errors.required">
    Nome do produto é de preenchimento obrigatório.
  </div>
  <div *ngIf="nomex.errors.minlength">
    <!-- se o erro for de requided inclui a div no html-->
    O nome do produto deve ter mais de 10 caracteres.
  </div>
</div>

<label for="inputDescricao" class="sr-only">Descrição</label>
<input type="text" id="inputDescricao"
       name="descricaoPoduto" placeholder="Descrição do produto"
       class="form-control mb-2 col-md-6"
       [(ngModel)]="produto.descricao"
       #descricaox="ngModel"
       [ngClass]="{
           'is-invalid':descricaox.invalid && (descricaox.dirty || descricaox.touched),
           'is-valid':descricaox.valid && (descricaox.dirty || descricaox.touched)
           }"
       minlength="50"
       required />
<div class="invalid-feedback mb-2" *ngIf="descricaox.invalid && (descricaox.dirty || descricaox.touched)">
  <div *ngIf="descricaox.errors.required">
    Descrição do produto é de preenchimento obrigatório.
  </div>
  <div *ngIf="descricaox.errors.minlength">
    <!-- se o erro for de requided inclui a div no html-->
    A descrição do produto deve ter mais de 50 caracteres.
  </div>
</div>


<label for="inputPreco" class="sr-only">Preço</label>
<input type="number" id="inputPreco"
       name="precoProduto" placeholder="Preço"
       class="form-control mb-2 col-md-2"
       [(ngModel)]="produto.preco"
       #precox="ngModel"
       [ngClass]="{
           'is-invalid':precox.invalid && (precox.dirty || precox.touched),
           'is-valid':precox.valid && (precox.dirty || precox.touched)
           }"
       required />

<div class="invalid-feedback mb-2" *ngIf="precox.invalid && (precox.dirty || precox.touched)">
  <div *ngIf="precox.errors.required">
    Preço do produto é de preenchimento obrigatório.
  </div>
</div>

<div class="input-group mb-2">
  <div class="custom-file col-md-6">
    <input type="file" class="custom-file-input"
           id="inputFile" aria-describedby="inputGroupFileAddon04" (change)="inputChangePrincipal($event.target.files)" />
    <label for="inputFile" class="custom-file-label">Escolha a Imagem Principal</label>
  </div>
  <div class="spinner-border text-primary" role="status" *ngIf="ativarSpinnerFoto">
    <span class="sr-only">Loading Foto...</span>
  </div>
</div>
<div *ngIf="exibirGaleriaPrincipal">
  <ngx-gallery [options]="galleryOptionsPrincipal" [images]="galleryImagesPrincipal" style=" border:2px solid #ddd; border-radius:4px; padding: 0 0 5px 5px"></ngx-gallery>
</div>
<!--<div class="mb-2" *ngIf="exibirFotoPrincipal">
  <img src="../../../../../arquivos/{{pathFotoPrincipal}}" style="width:100px; height:100px; border:2px solid #ddd; border-radius:4px;" />
</div>-->

<div class="input-group mb-2">
  <div class="custom-file col-md-6">
    <input type="file" class="custom-file-input"
           id="inputFileMultiplo" aria-describedby="inputGroupFileAddon04" (change)="inputChangeGaleria($event.target.files)" multiple />
    <label for="inputFileMultiplo" class="custom-file-label">Escolha demais imagens para o produto</label>
  </div>
  <div *ngIf="qtdArquivos > 0 && itensGaleria.length == 0">
    <span class="spinner-border text-primary" role="status" aria-hidden="true"></span>
  </div>
</div>
<div *ngIf="exibirGaleria">
  <ngx-gallery [options]="galleryOptions" [images]="galleryImages" style=" border:2px solid #ddd; border-radius:4px; padding: 0 0 5px 5px" ></ngx-gallery>
</div>

<div class="form-inline">
  <button class="btn btn-primary" style="margin-right:4px" (click)="cadastrar()" [disabled]="ativarSpinner">
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="ativarSpinner"></span>
    Cadastrar
  </button>
  <button class="btn btn-secondary" [routerLink]='["/pesquisar-produto"]'>Cancelar</button>
</div>


<!--<tbody>
  <tr *ngFor="let i of item">

    <td>{{i}}</td>

  </tr>
</tbody>-->




<div class="alert alert-danger mb-2 col-md-4" role="alert" *ngIf="mensagem">
  {{mensagem}}
</div>

