<div class="d-flex justify-content-center" *ngIf="!produtos">
  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
  Carregando Produtos...
</div>

<div class="container" *ngIf="produtos">
  <div class="row">
    <div class="col-md-4 mb-4" [@anim]="" *ngFor="let p of produtos | paginate: { itemsPerPage: contador, currentPage: pag }; let i = index">
      <a (click)="abrirProduto(p)" style="cursor:pointer">
        <div class="card" style="padding:10px; height:22rem; width:18rem;">
          <img class="card-top align-self-center" src="../../../../../arquivos/{{p.nomeArquivo}}" style="width:180px;height:180px;" />
          <div class="card-body">
            <!--  <h5 class="card-title">{{p.nome}}</h5> -->
            <div class="card-text">{{p.descricao | truncate:50}}</div>
            <h5 class="h5">R$ {{p.preco}}</h5>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="text-right">
    <pagination-controls  class="my-pagination" (pageChange)="pag = $event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
  </div>

</div>


